<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payout_request_create_success">
        <observer name="payout_request_create_success_subtract_credit" instance="Magestore\Customercredit\Observer\PayoutRequestNew"/>
    </event>
    <event name="page_block_html_topmenu_gethtml_before">
        <observer instance="Magestore\Customercredit\Observer\Frontend\Page\BlockHtmlTopmenuGethtmlBefore" name="Magestore_Customercredit_blockhtmltopmenugethtmlbefore"/>
    </event>
</config>
